body{
    background: #7d8af1;
}

.principal{
    background:linear-gradient(to bottom, #5a6192, #000);
    color: white;
    width: 500px;
    padding: 5%;
    margin: auto;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 #000;
}

.titulos {
    color: white;
    width: 140px;
    height: 25px;
    margin: auto;
    padding: 1px 10px 1px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    background: rgb(29, 48, 98);
    margin-bottom: 5%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    border: 2.5px solid black;
    border-radius: 30px;
    box-shadow: 0 0 20px 0 #000;
}

.habilidades{
    width: 300px;
    margin: auto;
    text-align: justify;
}

#fondo_imagen {
    width: 180px;
    height: 250px;
    padding: 10px;
    margin: auto;
    background: rgb(29, 48, 98);
    border: 2.5px solid black;
    border-radius: 15px;
    box-shadow: 0 0 20px 0 #000;
}

#imagen {
    width: 150px;
    height: 230px;
    padding: 10px;
    display: block;
    margin: auto;
}


h1 {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2{
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center
}

span{
    font-weight: bold;
    font-style: italic;
}

